*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  }
.wrapper{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
}

*{outline:1px solid #0000FF}

/* 下線 */
/*==================================================
共通　横並びのための設定
===================================*/

.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  margin:0 0 50px 0;
  list-style: none;
}

.gnavi li a{
  display: block;
 padding:10px 30px;
  text-decoration: none;
  color: #333;
}

.gnavi li{
  margin-bottom:20px;
}

/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnavi li a{
  /*線の基点とするためrelativeを指定*/
position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
color:#0481A2;
}

.gnavi li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background:#0481A2;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}
/*========= レイアウトのためのCSS ===============*/
.lead{
padding: 50px 20px;
}

/* head */
.navi{
  height: 50px;
  /* background-color: red; */
}
.navi ul{
  width: 100%;
  display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
}
.navi ul li{
 
  margin-right: 50px;
  margin-top: 15px;
  
}
.navi ul li a{
  text-decoration: none ;
  color: black;
}
/* main */
.main{
  position: relative;
  width: 100%;
  height: 300px;
}
.main span{
  font-size: 3.5rem;
}
.main_1{
  position: absolute;
  top: 40px;
  left: 90px;
}
.main_2{
  position: absolute;
  top: 120px;
  left: 250px;
}


/* content1 */
#content1{
  height: 2100px;
}

.content1_wrapper{
  height: 2100px;
  background-color: #FFFDF5;
  
}
.content1_wrapper_title{
text-align: center;
}

.content1_title{
  width: 100%;
}
h1{
  display:inline-block;
  margin-top: 20px;
  border-bottom: solid 2px #E40012;
}
.content1_title:after{
  display: block;
  content: "架空のバナーデザイン";
}


.content1_flex_item{
  width: 100%;
}


.content1_flex{
  margin-top: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.content1_flex_item img{
  width: 90%;
  height: auto;
  object-fit: cover;

}

.content1_flex_item_sentence{
  width:100%;
  font-size: 0.8rem;
}

.content1_flex_item dl{
  margin-top: 10px;
  width:90%;
}
.content1_flex_item dt{
  float: left;
  font-size: 1rem;
  color: #4580A8;
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
}
.content1_flex_item dd{
  height: 25px;
  font-size: 0.4rem;
  vertical-align: text-bottom;
  line-height: 3;
}
.content1_flex_item_sentence span{
  width:90%;
  display: inline-block;
  text-align: left;
}

.container{
  content: "";
  width: 100%;
  height: 60px;
}


/*==================================================
ボンッ
===================================*/

/* 拡大 */
.zoomIn{
  animation-name:zoomInAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
  transform: scale(0.6);
  }

  to {
      transform: scale(1);
  }
}

/* content2 */
.content2_wrapper{
  margin-top: 0px;
  height: 1490px;
  background-color: #FFF6F5;
  
}
.content2_wrapper_title{
text-align: center;
}

.content1_title{
  width: 100%;
}
h2{
  display:inline-block;
  margin-top: 20px;
  border-bottom: solid 2px #E40012;
}
.content2_title:after{
  display: block;
  content: "架空のバナーデザイン";
}


.content2_flex_item{
  width: 100%;
}


.content2_flex{
  margin-top: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.content2_flex_item img{
  width: 90%;
  height: auto;
  object-fit: cover;

}

.content2_flex_item_sentence{
  width:100%;
  font-size: 0.8rem;
}

.content2_flex_item dl{
  margin-top: 10px;
  width:90%;
}
.content2_flex_item dt{
  /* float: left; */
  text-align: left;
  font-size: 1rem;
  color: #4580A8;
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
}
.content2_flex_item dd{
  /* clear:both; */
  height: 25px;
  font-size: 0.4rem;
  vertical-align: text-bottom;
  line-height: 3;
  text-align: left;
  margin-left: 25px;
  margin-top: -5px;
}
.content2_flex_item_sentence span{
  width:90%;
  display: inline-block;
  text-align: left;
  margin-top: 5px;
}




/*==================================================
じわっ
===================================*/

/* ぼかしから出現 */
.blur{
  animation-name:blurAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}


@keyframes blurAnime{
  from {
  filter: blur(10px);
  transform: scale(1.02);
  opacity: 0;
  /* transform: translateY(100px); */
  }

  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  /* transform: translateY(0); */
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeUpTrigger{
    opacity: 0;
}
/* スクロールのタイミングの設定 */



.content2_flex_item_sentence .detail{
  font-weight: bold;
}

.content2_flex_item_sentence .detail:hover{
  color: red;
  font-weight: bold;
}





/* モーダル */
/*========= モーダル表示のためのCSS ===============*/
/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
  display: none;
}

.info-title{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: bold;
}

a{
  color:#333;
  text-decoration: none;
  font-weight: bold;
}


a:hover{
  color: red;
}


/*========= モーダル表示のためのCSS ===============*/

/*infoエリアをはじめは非表示*/
#info{
  display: none;
}

/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
  background:#ccc;  
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

/* content3 */
.content3_wrapper{
  margin-top: 0px;
  height: 1280px;
  background-color: #FFFDF5;
}
.content3_wrapper_title{
text-align: center;
}

.content3_title{
  width: 100%;
}
h3{
  display:inline-block;
  margin-top: 20px;
  border-bottom: solid 2px #E40012;
}
.content3_title:after{
  display: block;
  content: "架空のLPデザイン";
}


.content3_flex_item{
  width: 100%;
}


.content3_flex{
  margin-top: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.content3_flex_item img{
  width: 90%;
  height: auto;
  object-fit: cover;

}

.content3_flex_item_sentence{
  width:100%;
  font-size: 0.8rem;
}

.content3_flex_item dl{
  margin-top: 10px;
  width:90%;
}
.content3_flex_item dt{
  /* float: left; */
  text-align: left;
  font-size: 1rem;
  color: #4580A8;
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
}
.content3_flex_item dd{
  /* clear:both; */
  height: 25px;
  font-size: 0.4rem;
  vertical-align: text-bottom;
  line-height: 3;
  text-align: left;
  margin-left: 25px;
  margin-top: -5px;
}
.content3_flex_item_sentence span{
  width:90%;
  display: inline-block;
  text-align: left;
  margin-top: 5px;
  
}

.content3_flex_item_sentence .detail{
  font-weight: bold;
}

.content3_flex_item_sentence .detail:hover{
  color: red;
  
}


/* content4 */
.content4_wrapper{
  margin-top: 0px;
  height: 310px;
  background-color: #ffffff;
  
}
.content4_wrapper_title{
text-align: center;
}

.content4_title{
  width: 100%;
}
h4{
  display:inline-block;
  margin-top: 20px;
  border-bottom: solid 2px #E40012;
}

.content4_flex_item{
  width: 100%;
}

.content4_flex{
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 70%;
}

.content4_flex_item_sentence{
  width:100%;
  font-size: 0.8rem;
}

.content4_flex_item dl{
  margin-top: -60px;
  width: 100%;
  margin-left: 0px;
}
.content4_flex_item dt{

  text-align: left;
  font-size: 1rem;
  color: #4580A8;
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
}
.content4_flex_item dd{
  width: 65%;
  height: 25px;
  font-size: 0.4rem;
  vertical-align: text-bottom;
  line-height: 2;
  text-align: left;
  margin-left: 15px;
  margin-top: 5px;
}


#footer{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100px;
}



/* TOPに戻るボタン */
/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom:30px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(150px);
}

/*　上に上がる動き　*/
#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(150px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/
#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
    /*aタグの形状*/
  display: block;
  width: 100px;
  height: 100px;
  color: #333;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.6rem;
    /*背景画像の指定*/
    /* background: url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/8-1-8/img/pagetop_1.png") no-repeat center; */
    background: url("../img/main34.png") no-repeat center;
  background-size: contain;
}

#page-top.floatAnime a{
  width: 100px;
  height: 130px;
    /*背景画像の指定*/
  /* background: url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/8-1-8/img/pagetop_2.png") no-repeat center; */
  background: url("../img/main-29.png") no-repeat center;
  background-size: contain;
    /*アニメーションの指定*/
  animation: floatAnime 2s linear infinite;
  opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  25% { transform: translateX(-6px);opacity: 1; }
  50% { transform: translateX(0) }
  100% { transform: translateX(6px);opacity: 1; }
}

/*Page Topと書かれたテキストの位置*/
#page-top span{
    position: absolute;
    bottom: -20px;
    right: 20px;
  color: #666;
}

  /*-----------------------------------------------------*/
  /* タブレット用のCSS */
  /*-----------------------------------------------------*/
@media only screen and (min-width:480px) and (max-width:768px) {
*{
  padding: 0;
  margin: 0;
}

/* head */
.navi{
  height: 70px;
  /* background-color: red; */
}
.navi ul{
  margin: 0 auto;
  width: 70%;
  display: flex;
justify-content: space-between;
align-items: center;
list-style: none;


}
.navi ul li{
  margin-right: 10px;
  margin-top: 15px;
}
.navi ul li a{
  text-decoration: none ;
  color: black;
}
.main{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.main span{
    font-size: 3rem;
}
.main_1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  .main_2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  /* content1 */
  #content1{
        height: 9300px;
 }
  .content1_wrapper{
    height: 9300px;
  }
.content1_wrapper_title{
    text-align: center;
}
.content1_flex_item{
      width: 100%;
}

.content1_flex{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
}
.content1_flex_item img{
      width: 90%;
      height: auto;
      object-fit: cover;
}

.content1_flex_item_sentence{
      width:100%;
      font-size: 0.8rem;
      height: 150px;
}

.content1_flex_item dl{
      margin-top: 10px;
      width:100%;
      display: flex;
      flex-direction: column;
    }
.content1_flex_item dt{
      margin: 0;
      width:100%;
      font-size: 1.1rem;
      color: #4580A8;
      font-weight: bold;
}
.content1_flex_item dd{
      width:100%;
      height: 40px;
      font-size: 1rem;
      vertical-align: text-bottom;
      line-height: 3;
      text-align: center;
}
.content1_flex_item_sentence span{
      width:90%;
      display: inline-block;
      text-align: center;
      font-size: 0.9rem;
      margin-top: 20px;
}


/* content2 */
#content2{
  height: 6210px;
}
.content2_wrapper{
height: 6210px;
}
.content2_wrapper_title{
text-align: center;
}
.content2_flex_item{
width: 100%;
}

.content2_flex{
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.content2_flex_item img{
width: 90%;
height: auto;
object-fit: cover;
}

.content2_flex_item_sentence{
width:100%;
font-size: 0.8rem;
height: 180px;
}

.content2_flex_item dl{
margin-top: 10px;
width:100%;
display: flex;
flex-direction: column;
}
.content2_flex_item dt{
margin: 0;
width:100%;
font-size: 1.1rem;
color: #4580A8;
font-weight: bold;
text-align: center;

}
.content2_flex_item dd{
margin: 0;
width: 100%;
height: 40px;
font-size: 1rem;
vertical-align: text-bottom;
line-height: 3;
text-align: center;
}

.content2_flex_item_sentence span{
width:90%;
display: inline-block;
text-align: center;
font-size: 0.9rem;
margin-top: 20px;
}


/* content3 */
#content3{
  height: 870px;
}
.content3_wrapper{
  height: 870px;
}
.content3_wrapper_title{
text-align: center;
}
.content3_flex_item{
width: 100%;
}

.content3_flex{
margin-top: 10px;
display: flex;
align-items: flex-end;
}

.content3_flex_item img{
width: 90%;
height: auto;
object-fit: cover;

}

.content3_flex_item_sentence{
width:100%;
font-size: 0.8rem;
height: 130px;
}

.content3_flex_item dl{

margin-top: 10px;
width:100%;
display: flex;
flex-direction: column;
}
.content3_flex_item dt{
text-align: center;
width:90%;
font-size: 0.7rem;
color: #4580A8;
font-weight: bold;
}
.content3_flex_item dd{
margin: 0 auto;
width:100%;
height: 25px;
font-size: 0.1rem;
vertical-align: text-bottom;
line-height: 3;
text-align: center;

}
.content3_flex_item_sentence span{
width:90%;
display: inline-block;
text-align: left;
font-size: 0.1rem;
}

.content3_flex_item_sentence .detail{
text-align: center;
}

/* content4 */
#content4{
  margin: 0;
  height: 350px;
}


.content4_wrapper{
    margin-top: 0px;
    height: 350px;
    background-color: #ffffff;
  }

  .content4_flex_item{
    width: 100%;
  }
  
  .content4_flex{
    margin: 0;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 80%;
  }
  
  .content4_flex_item_sentence{
    width:100%;
    font-size: 0.8rem;
  }
  
  .content4_flex_item dl{
    margin-top: 10px;
    width:90%;
  }
  .content4_flex_item dt{
    text-align: left;
    color: #4580A8;
    margin-left: 15px;
    margin-right: 5px;
    font-weight: bold;
  }
  .content4_flex_item dd{
    width: 100%;
    height: 100px;
    /* font-size: 0.4rem; */
    vertical-align: text-bottom;
    line-height: 2;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
  }
 
  #footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
  }
}
  /*-----------------------------------------------------*/
  /* スマホ用のCSS */
  /*-----------------------------------------------------*/
  @media only screen and (max-width: 479px) {
    *{
      padding: 0;
      margin: 0;
    }
    
    /* head */
    .navi{
      height: 80px;
    }
    .navi ul{
      margin: 0 auto;
      width: 95%;
      display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 0.9rem;
    }
    .navi ul li{
      margin-right: 10px;
      margin-top: 15px;
    }
    .navi ul li a{
      text-decoration: none ;
      color: black;
    }
    .main{
        position: relative;
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    .main span{
        font-size: 3rem;
    }
    .main_1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
      .main_2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    

/* content1 */
  #content1{
    height: 6800px;
}
.content1_wrapper{
height: 6800px;
}
.content1_wrapper_title{
text-align: center;
}
.content1_flex_item{
  width: 100%;
}

.content1_flex{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}
.content1_flex_item img{
  width: 90%;
  height: auto;
  object-fit: cover;
}

.content1_flex_item_sentence{
  width:100%;
  font-size: 0.8rem;
  height: 170px;
}

.content1_flex_item dl{
  margin-top: 10px;
  width:100%;
  display: flex;
  flex-direction: column;
}
.content1_flex_item dt{
  margin: 0;
  width:100%;
  font-size: 1.1rem;
  color: #4580A8;
  font-weight: bold;
}
.content1_flex_item dd{
  width:100%;
  height: 40px;
  font-size: 1rem;
  vertical-align: text-bottom;
  line-height: 3;
  text-align: center;
}
.content1_flex_item_sentence span{
  width:90%;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
}


/* content2 */
#content2{
  height: 4200px;
}
.content2_wrapper{
height: 4200px;
}
.content2_wrapper_title{
text-align: center;
}
.content2_flex_item{
width: 100%;
}

.content2_flex{
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.content2_flex_item img{
width: 90%;
height: auto;
object-fit: cover;
}

.content2_flex_item_sentence{
width:100%;
font-size: 0.8rem;
height: 200px;
}

.content2_flex_item dl{
margin-top: 10px;
width:100%;
display: flex;
flex-direction: column;
}
.content2_flex_item dt{
margin: 0;
width:100%;
font-size: 1.1rem;
color: #4580A8;
font-weight: bold;
text-align: center;

}
.content2_flex_item dd{
margin: 0;
width: 100%;
height: 40px;
font-size: 1rem;
vertical-align: text-bottom;
line-height: 3;
text-align: center;
}

.content2_flex_item_sentence span{
width:90%;
display: inline-block;
text-align: center;
font-size: 0.9rem;
margin-top: 20px;
}


/* content3 */
#content3{
  height: 660px;
}
.content3_wrapper{
  height: 660px;
}
.content3_wrapper_title{
text-align: center;
}
.content3_flex_item{
width: 100%;
}

.content3_flex{
margin-top: 10px;
display: flex;
align-items: flex-end;
}

.content3_flex_item img{
width: 90%;
height: auto;
object-fit: cover;

}

.content3_flex_item_sentence{
width:100%;
font-size: 0.8rem;
height: 130px;
}

.content3_flex_item dl{

margin-top: 10px;
width:100%;
display: flex;
flex-direction: column;
}
.content3_flex_item dt{
text-align: center;
width:90%;
font-size: 0.7rem;
color: #4580A8;
font-weight: bold;
}
.content3_flex_item dd{
margin: 0 auto;
width:100%;
height: 25px;
font-size: 0.1rem;
vertical-align: text-bottom;
line-height: 3;
text-align: center;

}
.content3_flex_item_sentence span{
width:90%;
display: inline-block;
text-align: left;
font-size: 0.1rem;
}

.content3_flex_item_sentence .detail{
text-align: center;
}
/* content4 */
#content4{
  margin: 0;
  height: 410px;
}


.content4_wrapper{
    margin-top: 0px;
    height: 410px;
    background-color: #ffffff;
  }

  .content4_flex_item{
    width: 100%;
  }
  
  .content4_flex{
    margin: 0;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 90%;
  }
  
  .content4_flex_item_sentence{
    width:100%;
    font-size: 0.8rem;
  }
  
  .content4_flex_item dl{
    margin-top: 10px;
    width:90%;
  }
  .content4_flex_item dt{
    text-align: left;
    color: #4580A8;
    margin-left: 15px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .content4_flex_item dd{
    width: 90%;
    height: 250px;
    font-size: 0.3rem;
    vertical-align: text-bottom;
    line-height: 2;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
  }
 
  #footer{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
  }
















    
  }
